@charset "UTF-8";
/*----------------------------------------

	Mac Opera

	- default setting
	- font

-----------------------------------------*/

/*----------------------------------------
	default setting
-----------------------------------------*/

li, li img {
	vertical-align: baseline;
}

html {
	overflow: auto;
}

/*----------------------------------------
	font
-----------------------------------------*/

body {
	font-size: 75%;
	line-height: 1.45;
}

.font_large {
	font-size: 120%;
	line-height: 1.4;
}

.font_small {
	font-size: 85%;
	line-height: 1.45;
}
