@charset "UTF-8";
/*----------------------------------------

	Mac Firefox

	- font

-----------------------------------------*/

/*----------------------------------------
	font
-----------------------------------------*/

body {
	font-size: 90%;
	line-height: 1.35;
}

.font_large {
	font-size: 115%;
	line-height: 1.31;
}

.font_small {
	line-height: 1.39;
}
