@charset "UTF-8";
/*----------------------------------------

	Mac Firefox

	- font

-----------------------------------------*/

/*----------------------------------------
	font
-----------------------------------------*/

body {
	font-size: 75%;
	line-height: 1.42;
}

.font_large {
	font-size: 117%;
}

.font_small {
	font-size: 83%;
	line-height: 1.41;
}
