@charset "UTF-8";
/*----------------------------------------

	Default and Windows IE

	- font

-----------------------------------------*/

/*----------------------------------------
	font
-----------------------------------------*/

body {
	font-size: 80%;
	line-height: 1.35;
}

.font_large {
	font-size: 110%;
	line-height: 1.35;
}

.font_small {
	font-size: 80%;
	line-height: 1.4;
}
